@import "./schemes/rose-pine.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Caskaydia Cove Medium", "CaskaydiaMono Nerd Font Mono Semibold";
    font-size: 14px;
    min-height: 0;
}

#clock {
    padding: 0 4px;
    margin: 4px 0px 4px 3px;
    border-radius: 0px;
    background-color: @surface;
}
#custom-wifi {
    padding: 0 4px;
    margin: 4px 4px;
    border-radius: 0px;
    background-color: @surface;
}

#battery {
    padding: 0 4px;
    margin: 4px 4px;
    border-radius: 0px;
    background-color: @surface;
}
#tray {
   padding: 0 4px;
    margin: 4px 4px;
    border-radius: 0px;
    background-color: @surface;
}
window#waybar {
    background-color: @base;
    color: @text;
    border-radius: 0px;
    border: 2px solid @highlightMed;
}
#workspaces {
    padding: 0px;
    margin: 4px 0px 4px 7px;
    border-radius: 0px;
    background-color: @surface;
} 
#workspaces button {
    padding: 0 10px;
    color: @subtle;
    background-color: transparent;
    transition: all 0.2s ease;
}
#workspaces button:hover {
    background-color: @highlightLow;
    color: @text;
    border-radius: 0px;
}
#workspaces button.focused {
    background-color: @iris;
    color: @base;
    border-radius: 0px;
}
#workspaces button.urgent {
    background-color: @love;
    color: @base;
    border-radius: 0px;
}
#window {
    background-color: transparent;
    color: @text;
    font-weight: bold;
}
#clock {
    color: @iris;
}
#battery {
    color: @iris;
}
#battery.warning {
    color: @gold;
}
#battery.critical {
    background-color: @love;
    color: @base;
}
#tray {
    padding: 0 4px;
    margin: 4px 0px 4px 0px;
    border-radius: 0px;
    background-color: @tray;
}
#custom-wifi {
    color: @iris;
}
#custom-wifi.off {
    color: @muted;
}
#custom-wifi.on {
    color: @iris;
}
#custom-ethernet {
    padding: 0 4px;
    margin: 4px 0px 4px 3px;
    border-radius: 0px;
    color: @iris;
    background-color: @surface;
}
#custom-ethernet.disconnected {
    padding: 0 4px;
    margin: 4px 0px 4px 3px;
    border-radius: 0px;
    background-color: @surface;
    color: @muted;
}
#custom-player.paused {
    opacity: 0.5;
    /* o color: @base03; */
}
#custom-swaync {
    padding: 0px 4px 0px 8px;
    margin: 4px 7px 4px 3px;
    border-radius: 0px;
    color: @iris;
    background-color: @surface;  
}
#custom-volume {
    padding: 0 4px;
    margin: 4px 0px 4px 3px;
    border-radius: 0px;
    min-width: 60px;
    color: @iris;
    background-color: @surface;
}

#custom-volume.muted {
    color: #888888;
}